/* タブレット向けレイアウト */

@media (min-width:610px) {
    header {
      width:100%;
    }

    body {
      width:100%;
    }
}
  

@media (max-width:610px) {
  header {
    width:100%;
    position: fixed;
  }

  body {
    width:100%;
  }

  .top-wrapper {
    width: 100%;
  }

  .top-image img {
    width: 50%;
  }
}