/* タブレット向けレイアウト */

@media (min-width:610px) {
    header {
      width:100%;
    }

    body {
      width:100%;
    }
  
    .top-image {
      width: 50%;
    }
}
  
/*スマホ向けレイアウト */

@media (max-width:610px) {
  header {
    width:100%;
    position: fixed;
  }

  body {
    width:100%;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .top-wrapper {
    width: 100%;
    position: fixed;
  }

  
}