html {
    font-size: 100%;
    font-family: 'Hiragino Sans', sans-serif;
    line-height: 1.7;
    letter-spacing: 1px;
  }
  
  /* body==================================== */
  
  body {
    max-width: 100%;
    margin: 0;
    background-image: url(/images/back.jpeg);
    background-size: cover;
    color: #6c7686;
    background-repeat: no-repeat;
  }

/* header ================================ */
header {
    width: 100%;
    margin: 0 auto;
    height: 56px;
    background-color:#f789a13f;
    border-bottom: 1px solid #f0f4f965;
  }
  
  
  .header-nav {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    margin: 0 auto;
    height: 80px;
  }
  
  .header-nav p {
    padding-left: 30px;
    font-size: 15px;
    color: #fff;
    font-weight: bold;
    word-wrap: break-word;
    opacity: 0.7;
    flex: 1;
  }
  
  .header-nav ul {
    text-align: right;
    display: flex;
  }
  
  .header-nav li > a {
    white-space: nowrap;
    /* display: inline-block; */
    font-size: 15px;
    color: #fff;
    opacity: 0.6;
    font-weight: bold;
    padding-left: 30px;
    
  }
  
  .header-nav li > a:hover{
    color:#ffe5ad;
    transition: all 0.8s ease;
  }
  
  .header-nav > a {
    color: #fff;
    opacity: 0.6;
    font-weight: bold;
    opacity: 0.6;
  }
  
  .header-nav > a:hover{
    color:#ffe5ad;
    transition: all 0.8s ease;
  }


  /* top ================================ */
  .top-wrapper {
    max-width: 1200px;
    min-width: 920px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 60px;
  }
  
  .top-detail {
    width: 36%;
    min-width: 320px;
    margin-top: -40px;
  }
  
  .top-detail .subtitle {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 4px;
  }
  
  .top-detail .title {
    font-size: 54px;
    line-height: 66px;
    letter-spacing: 2px;
    margin-bottom: 24px;
  }
  
  .top-detail .description {
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0.5px;
    margin-bottom: 40px;
  }
  
  .top-image img {
    width: 80%;
  }

   /* トップ記録するボタン ==========*/
   .top-detail .index-button {
    width: 184px;
    height: 48px;
    text-align: center;
    line-height: 45px;
    font-weight: 600;
    color:  #d64a687a;
    background-color: #ffffffab;
    border: 2px solid   #d64a684f;
    border-radius: 2px;
    box-shadow: 0px 3px #7e8f8d7a;
    cursor: pointer;
  }
  
  .top-detail .index-button:active {
    position: relative;
    top:6px;
    box-shadow: none;
  }
  
  .top-detail .index-button:hover {
    color: #d64a68ce;
    background-color:  #faf8f5b7;
    border: 2px solid  #d64a68ce;
    transition: all 0.8s ease;
    
  }

  /* top画像====================== */
  .top-image {
    width: 64%;
    text-align: center;
    overflow: hidden;
  }
  
  .top-image img {
    max-width: 80%;
    opacity: 0.9;
  }

  /* container ================================ */

  .container {
    width: 80%;
    min-width: 360px;
    max-width: 720px;
    margin: 0 auto;
    margin-top: 56px;
  }
  
  .container >.index-table-wrapper>a{
    color: #6c7686;
  }
  
  .container >.index-table-wrapper>a:hover{
    color:#c757beaf;
    transition: 0.5s;
  }
  
  
  .container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
  }

  .btn {
    display: inline-flex;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    background-color: #a64ccf85;
    height: 54px;
    padding: 0 90px;
    border-radius: 27px;
  }
  
  .btn:hover {
    background-color: #c757beaf;
  }
  
  
  .container-header .new-button {
    background-color:#ffffffdc;
    color: #6c7686;
    border-radius: 30px;
    font-size: 14px;
    width: 120px;
    height: 45px;
    line-height: 43px;
    text-align: center;
    border: 2px solid #a5948448;
  }
  .container-header .new-button:hover {
    transition: all 0.1s ease;
    box-shadow: 3px 8px #7e8f8d7a;
    position: relative;
    bottom: 2px;
    right: 1px;
  }
  
  .container-header .new-button:active {
    box-shadow:none;
    position: relative;
    top: 2px;
    left: 1px;
  }
  
  
  .cancel-button {
    margin-top: 16px;
    margin-left: 2px;
    font-weight: 600;
    color: #bac6d3;
    text-decoration: underline;
    display: inline-block;
  }
  
  .cancel-button:hover {
    color: #693a0452;
  }
  .container-header h1 {
    font-size: 24px;
  }

/* index ================================ */
.table-head {
    display: flex;
    background-color:#f7a0b379;
    border-radius: 2px 2px 0 0;
    height: 44px;
    font-size: 16px;
    line-height: 46px;
    color:#faf5f6;
  }
  
  .id-column {
    width: 72px;
    text-align: center;
  }
  
  .table-body {
    background-color: #ffffffde;
  }
  
  .table-body li {
    height: 72px;
    border: 1px solid #f0f4f9;
    border-top: none;
    line-height: 74px;
    display: flex;
  }
  
  .table-body .id-column {
    font-size: 16px;
    color: #bac6d3;
  }
  
  .table-body .name-column {
    font-size: 14px;
    font-weight: 500;
    color: #8491a5;
  }
  
  .item-data {
    display: flex;
  }
  
  .item-menu {
    display: flex;
    
  }
  
  .item-menu form {
    width: 60px;
    text-align: center;
  }
  
  .item-menu form input {
    font-size: 16px;
    color: #bac6d3;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0;
    border: none;
    outline: none;
    background: transparent;
  }
  
  .item-menu form input:hover {
    color: #ff7f8c;
    transition: all 0.3s ease;
  }
  
  .item-menu a {
    width: 60px;
    font-size: 16px;
    color: #bac6d3;
    text-align: center;
  }
  
  .item-menu a:hover {
    color: #ff7f8c;
    transition: all 0.3s ease;
  }

/* 最初の色設定 ================================ */
/* h1 {
    color: rgb(128, 0, 122);
}

img{
    width: 500px;
}

input{
    padding: 10px;
    border: 1px gray;
}

button{
    padding: 7px;
    border: 1px solid gray;
    color: white;
    background-color: tomato;
} */