<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/styles.css" />
        <link rel="stylesheet" href="css/responsive.css" />
        <script src="js/app.js"></script>
      </head>
    <body>
        <header>
            <div class="header-nav">
                <a href="/">BEAUTY APP</a>
                <p>Hi</p>
              <ul>
                <!-- <% if (locals.isLoggedIn) {%> -->
                <li><a href="/index">ミッション一覧</a></li>
                <!-- <% } else {%>
                
                <% } %> -->
              </ul>
            </div>
        </header>

        <div class="container">
            <div class="container-header">
                <h1>Beauty みっしょん</h1>
                <a href="/new" class="new-button">+ 新規作成</a>
            </div>
            <div class="index-table-wrapper">
              <div class="table-head">
                <span class="id-column">ID</span>
                <span>TODAYSこんぷりーと</span>
              </div>
              <ul class="table-body">
                  <!-- <% mission.forEach((item) =>{ %> -->
                    <li>
                      <div class="item-data">
                        <span class="id-column"></span>
                        <span class="name-column"></span>
                      </div>
                      <div class="item-menu">
                        <form action="/delete/<%=item.id %>" method="post">
                            <input type="submit" value="削除">
                        </form>
                        <a href="/edit/<%= item.id %>">編集</a>
                    </div>
                    </li>
                  <!-- <% }); %> -->
                </ul>
                <a href="/">Topにもどる</a>
            </div>
          </div>
    </body>
</html>